<div class="container">
    <div class="row">
        <table style="width: 100%; margin-top:20px;">
            <tr>
                <th>WepApp Host</th>
                <td>@Environment.MachineName</td>
            </tr>
            <tr>
                <th>WebAPI URL</th>
                <td>@ViewData["HostName"]</td>
            </tr>
            <tr>
                <th>WebAPI Response</th>
                <td>@ViewData["ApiResponse"]</td>
            </tr>
        </table>
    </div>
</div>
